body{
    margin: 0;
    padding: 0;box-sizing: border-box;
}
.Heading{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.ima{
    position: relative;
    top: 20px;
    left: 20px;
}
.opt{
    padding:20px ;
}
.but{
    margin-right: 10px;
    height: 30px;
    border: none;
    background-color: aliceblue;
    font-size: 20px;
}
.search{
    width: 400px;
    height: 30px;
    position: relative;
    top: 15px;
}
.pro{
    margin-right: 10px;
    height: 30px;
    border: none;
    background-color: aliceblue;
    font-size: 20px;
}
.tpo{
    padding:20px ;   
}
.car{
    padding: 10px;
    margin:0px 25px;
    border-radius: 12px;
    background-color: yellow;
}
.midd{
    justify-content: center;
}
.sss{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.butt{
    height: 50px;
    width: 230px;
    background-color: aqua;
    margin-bottom: 20px;
}