.circle{
    height: 50px;
    width: 50px;
    display: flex;

    position: absolute;
    border-radius: 50%;

    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: grow 4s forwards;
}

@keyframes grow {
    0%{
        transform: scale(1);
        opacity:1 ;
        font-size: 10px;
    }
    50%{
        transform: scale(2);
        opacity:0.5 ;
        font-size: 20px;
    }
    100%{
        transform: scale(2.6);
        opacity:0 ;
        font-size: 25px;
    }
}