body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    color: azure;
    width: 120px;
    height: 40px;
    margin-right: 20px;
    border-radius: 23px;
}
h1{
    text-align: center;
}
.but{
    background-color:aliceblue;
    padding: 20px;
    border-radius: 12px;
}