.h1{
    background-color: aqua;
    display: inline-block;
    height: 200px;
    width: 250px;
    /* padding-top: 50px; */
    /* padding-right: 20px; */
    border: 4px solid red;
    box-sizing: content-box;
}
.h2{
    background-color: chartreuse;
    display: inline-block;
    height: 200px;
    width: 250px;
    padding-top:50px;
    /* padding-right:50px; */
    border: 4px pink solid ;

    /* Total size height width : include  border,content,padding */
    box-sizing: border-box;
}
div{
    padding: 12px 8px 12px 12px;
    background-color: blueviolet;
}