*{
    padding: 0;
    margin: 0;
}
h1{
    padding: 12px;
}
h2{
    /* BLOCK  */
    padding: 5px;
    background-color: cadetblue;
    height: 200px;
    width: 300px;
}
span{
    /* display: block; */
    padding: 12px;
    background-color: aqua;
}
