*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(153, 195, 208);
    height: 100vh;
    /* Body height not mention then it takes height as its content */
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}

.container{
    background-color: aqua;
    width: 300px;
    /* height: 400px; */
    padding: 40px;
    border-radius: 16px;
}

.heading{
    color: rgb(33, 102, 162);
    text-align: center;
    padding: 12px 0px;
}

label{
    font-size: 25px;
    font-weight: 500;
}
input{
    border:none;
    border-bottom:4px solid pink;
    border-radius: 12px;
    box-shadow: 3px 5px rgba(255, 0, 0, 0.129);
    box-sizing: border-box;
    width: 100%;
    height:40px;
    padding: 20px;
    margin-bottom: 20px;
}
button{
    color: rgb(33, 102, 162);
    border-radius: 30px;
    font-size: 20px;
    width: 100%;
    padding: 12px;
    cursor: pointer;
}