body{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#root{
    width: fit-content;
    height: fit-content;
    padding: 20px;
    background-color: antiquewhite;
    text-align: center;
}