#h1tag{
    background-color: aqua;
}
h2{
    background-color: rgb(226, 205, 43) !important;
}
.h2ele{
    background-color: cornflowerblue;
}
#hi{
    background-color: rgb(114, 190, 106);
}

li{
    background-color: cornflowerblue;
}