*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: aqua;
}

h2{
    background-color: chartreuse;
    position: relative;
    top: 15px;
    bottom: 15px;/*Ignored*/
    left: 100px;
    right: 100px;/*Ignored*/
}

.abs{
    position: relative;
    z-index: 10;
}

h3{
    position: fixed;
    top:0px;
    right: 0px;
}
.stic{
    height: 70px;
    position: sticky;
    top: -10px;
}

div{
    height: 2000px;
}