body{
    height: 100vh;
    width: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.container{
    display: grid;
    width: 800px;
    height: 200px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}
img{
    /* according to parent */
    height: 100%;
    width: 100%;
}
/* tablet  */
@media screen and (max-width:700px) {
    .container{
        width: 400px;
        height: 400px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 1fr;
    }
}

.shad{
    height: 100px;
    width: 120px;
    border-radius: 20%;
    margin-bottom: 12px;
    background-color: aqua;
    box-shadow: 0px 0px 20px 3px  brown;
}