*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(120, 120, 141);
    height: 800px;
    width: 800px;
    display: grid;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(8,1fr);
    gap: 1px;
}
.brown{
    background-color: rgb(87, 45, 45);
}
.light{
    background-color: aliceblue;
}