*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.container{
    /* still act as block  */
    display: grid;
    height: 400px;
    width: 400px;
    grid-template-rows:1fr 1fr;
    grid-template-columns: 200px 200px;
    gap: 40px;
    padding: 10px;
    background-color: pink;
}

.f1{
    background-color: aliceblue;
}
.f2{
    background-color: rgb(53, 90, 123);
}
.f3{
    background-color: rgb(62, 131, 101);
}
.f4{
    background-color: rgb(90, 27, 84);
}